{% extends "project/base_site.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %} {% trans "sheets list" %} {% endblock title %}

{% block stylesheets %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.css" />

{{ block.super }}
{% endblock stylesheets %}

{% block content %}


<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
        <!--   <h3>{% trans "Ad Project" %} </h3> -->
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
          <div class="x_title">
              <h2>{{ action_name }}</h2>
              
                <ul class="nav navbar-right panel_toolbox">
                  <a href="{{request.META.HTTP_REFERER}}" >  <button type="button" class="btn btn-primary">{{ _('Back')}} <i class="fa fa-angle-double-left"></i> </button></a>
             
                </ul>
                <div class="clearfix"></div>
              
            </div>


            <div class="x_content">

<!-- #to stop html validation put novalidate in form tag -->
<div class="col-md-8 col-sm-12   col-xs-12" >

              <form action="" method="post" class="form-horizontal form-label-left input_mask" novalidate enctype="multipart/form-data">

  {% csrf_token %}

                <div class="form-group">
              <div class=" col-md-12 col-sm-12 col-xs-12 ">
              {{form.name.label_tag}}
               {{form.name}}
               </div>
               </div>

               <div class="form-group">
              <div class=" col-md-4 col-sm-4 col-xs-12 ">
              {{form.start.label_tag}}
               {{form.start}}
                <span class="fa fa-calendar-o form-control-feedback left" style="margin-top:25px;" aria-hidden="true"></span>
               </div>

                <div class=" col-md-4 col-sm-4 col-xs-12 ">
                {{form.end.label_tag}}
               {{form.end}}
            
                <span class="fa fa-calendar-o form-control-feedback left" style="margin-top:25px;" aria-hidden="true"></span>
               </div>

                <div class=" col-md-4 col-sm-4 col-xs-12 ">
                {{form.status.label_tag}}
               {{form.status}}
               </div>
               </div>

             <div class="form-group">
              <div class="col-md-12 col-sm-12 col-xs-12 ">
              {{form.desc.label_tag}}
               {{form.desc}}
               </div>
               </div>

              <div class="form-group">
              <div class="col-md-12" style="word-break: break-word;">
               {{ upload_file.management_form }}
                         <fieldset>
                            <legend> {% trans "Attached files " %}</legend>
                         {% for form in upload_file%}
                         <div class="item form-group">
                           <div class="col-md-6">
                           {{form.id}}
                           {{form.filename.label_tag}}
                          {{ form.filename|add_class:"form-control"}}
                        </div>
                          <div class="col-md-5">
                          {{form.filepath.label_tag}}
                         {{ form.filepath|add_class:"upload"}}
                       </div>
                           {# <span class="input-group-btn"><button class="delete btn btn-danger remove-form-row"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></span> #}
                         </div>

                        {% endfor%}
                          <div class="col-md-12">
                        <span id="add" class="input-group-btn"><button class="btn btn-success add-form-row"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="margin-left:5px;"></span>{{_('add new file')}}</button></span>
</div>
                        </fieldset>

              </div>
              </div>
              {% load user_group %}
              
                   <div class="form-group">
              <div class="col-md-6 col-sm-12 col-xs-12 ">
               {{form.delegationto.label_tag}}
               {{form.delegationto}}
               <br>
                {{form.delegationto.help_text}}
               
               </div>
               </div>
              
     <div class="form-group text-danger">
     <div class="col-md-3"></div><div class="col-md-9 col-sm-12 col-xs-12">
    {{ form.name.errors }}
    {{ form.desc.errors }}
    {{ form.start.errors}}
    {{ form.end.errors  }}

    </div>
</div>


                <div class="form-group">
                 <div class="ln_solid"></div>
                  <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
                    {% if  request.META.HTTP_REFERER ==  request.build_absolute_uri or request.META.HTTP_REFERER == None   %}
                    <a href="{% url 'ns-project:project-list' %}" >  <button type="button" class="btn btn-primary"> <i class="fa fa-angle-double-right"></i> {{ _('Back')}}</button></a>
                   {%else%}
                   <a href="{{request.META.HTTP_REFERER}}" >  <button type="button" class="btn btn-primary"> <i class="fa fa-angle-double-right"></i> {{ _('Back')}}</button></a>
                   {% endif %}
                    <!--  <button class="btn btn-primary" type="reset">{{_('Reset')}}</button>-->
                 <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> {{_('Submit')}}</button>
                  </div>
                </div>

<!--  {{ form.as_p }} -->





    <!--  {{ form.start.label_tag }} -->





</form>


</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}

{% block javascripts %}
  {{ block.super }}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.jquery.js"></script>

    <script>
  $('#single_cal_1').daterangepicker({
      singleDatePicker: true,
      singleClasses: "picker_1",
       locale: {
            format: 'YYYY-MM-DD'
        },
  }, function(start, end, label) {

  });

  $('#single_cal_2').daterangepicker({
      autoUpdateInput: true,
      singleDatePicker: true,
      singleClasses: "picker_1",
      locale: {
            format: 'YYYY-MM-DD',
            language: 'ar-EG',
        },
  }, function(start, end, label) {

  });


//Register the click event handlers
$("#add").click(function (e) {
   e.preventDefault();
   return addForm(this, "form");
});

function addForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    // You can only submit a maximum of 10 todo items
    if (formCount < 10) {
        // Clone a form (without event handlers) from the first form
        var row = $(".item:last").clone(false).get(0);
        // Insert it after the last form
        $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);

        // Remove the bits we don't want in the new row/form
        // e.g. error messages
        $(".errorlist", row).remove();
        $(row).children().removeClass("error");

        // Relabel or rename all the relevant bits
        $(row).children().children().each(function () {
            updateElementIndex(this, prefix, formCount);
            $(this).val("");
        });

        // Add an event handler for the delete item/form link
        $(row).find(".delete").click(function () {
            return deleteForm(this, prefix);
        });
        // Update the total form count
        $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
    } // End if
    else {
        alert("Sorry, you can only enter a maximum of ten items.");
    }
    return false;
}
function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}


//choosen list

     $(".chosen").data("placeholder","Select Frameworks...").chosen();
     $(".chosen").chosen({no_results_text: "Oops, nothing found!"});
      $('.chosen').chosen({allow_single_deselect: true,no_results_text: "Ù„Ø§ ÙŠÙˆØ¬Ø¯ Ù†ØªØ§Ø¦Ø¬!"});



  </script>

{% endblock javascripts %}
