{% extends "project/base_site.html" %}
{% load i18n %}
{% block title %} {% trans "Projects" %} {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<style>
ul.stats-overview li{width:22% !important}
</style>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <ul class="stats-overview">
        <li>
          <span class="name"> {{_('Total employees')}} </span>
          <span class="value text-success"> {{emp_count}}</span>
        </li>
        <li>
          <span class="name"> {{_('Total tasks')}} </span>
          <span class="value text-success"> {{total_task}} </span>
        </li>
        <li class="hidden-phone">
          <span class="name"> {{_('task completed')}} </span>
          <span class="value text-success"> {{submitted_task}} </span>
        </li>
        <li class="hidden-phone">
          <span class="name"> {{_('task not completed')}} </span>
          <span class="value text-success"> {{n_task}} </span>
        </li>
      </ul>
      <div class="page-title">
        <div class="title_left">
          <h3>{% trans "Tasks List Department" %} </h3>

        </div>
        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group" style="float:left;">
              <form method="GET" action="">
              <input type="text" name="q" class="form-control" style="width:auto;" value="{{ request.GET.q}}" placeholder="{{_('Empolyee Name')}}...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">{% trans "Go"  %}!</button>
              </span>
            </form>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
              <div class="x_title">
            </div>
            <div class="x_content">
              <!-- start project list -->
              {% for message in messages %}
                <div style="font-size: 20px;" class="alert {{ message.tags }} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
                </div>
              {% endfor %}
              {% if count > 0 %}
              <table class="table table-striped projects">
                <thead>
                  <tr>
                    <th style="width: 1%">#</th>
                    <th>{{ _('Name') }}</th>
                    <th>{% trans "Task count" %}</th>
                    <th>{% trans "New task Count" %}</th>
                    <th>{% trans "Task Submitted Count" %}</th>
                    <th>{% trans "Task not submitted count" %}</th>
                    <th>{% trans "Details" %}</th>
                  <!--  <th>{% trans "Status" %}</th> -->
                  </tr>
                </thead>
                <tbody>
                  {% for data in allemp %}
                  <tr>
                    <td>#</td>
                    <td>{{ data.employeename }}

                    </td>
                    <td>
                    {{ data.totaltask }}
                    </td>
                    <td>{{ data.new }}</td>
                    <td>
                      {{data.submitted }}

                    </td>
                    <td class="project_progress">
                        {{ data.notsubmitted }}
                    </td>

                    <td>
                      <a href="/sheet/{{data.employeeid}}/show" class="btn btn-primary btn-xs">{% trans "Details" %}</a>
                    </td>
                    <!--  <td>
                      {% if data.ifsubmitted == 0 %}
                      <button type="button" class="btn btn-danger btn-xs">{% trans "not submitted" %}</button>
                      {% endif %}
                      {% if data.ifsubmitted == 1 %}
                      <button type="button" class="btn btn-success btn-xs">{% trans "submitted" %}</button>
                      {% endif %}
                      {% if data.ifsubmitted == 2 %}
                      <button type="button" class="btn btn-primary btn-xs">{% trans "in process" %}</button>
                      {% endif %}
                    </td>
                  -->

                    </tr>
                  {% endfor %}
          </tbody>
              </table>
              {%endif%}
              <!-- end project list -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
