{% extends "project/base_site.html" %}
{% load i18n %}
{% load cache %}
{% block title %} Dashboard 1 {% endblock title %}
{% block stylesheets %}
{{ block.super }}
<link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}


  <div class="right_col" role="main">
    <div class="">

  <!-- top tiles -->
    <div class="row tile_count" style="margin-bottom: 0px;">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-briefcase"></i>  كل المشاريع </span>
        <div class="count">{{project_kpi.p_all|stringformat:"02d"}}</div>
       <!-- <span class="count_bottom"><i class="green">4% </i> منذ اخر اسبوع</span>-->
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> مشاريع داخلية</span>
         <div class="count">{{project_kpi.p_internal|stringformat:"02d"}}</div>
       <!--   <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> منذ اخر اسبوع</span>-->
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> مشاريع خارجية</span>
         <div class="count">{{project_kpi.p_external|stringformat:"02d"}}</div>
       <!--   <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i>  منذ اخر اسبوع</span>-->
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> كل المهام</span>
        <div class="count">{{project_kpi.t_all|stringformat:"02d"}}</div>
        <!-- <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i>  منذ اخر اسبوع</span> -->
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> مهام داخلية</span>
      <div class="count">{{project_kpi.t_internal|stringformat:"02d"}}</div>
        <!--  <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i>  منذ اخر اسبوع</span> -->
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> مهام مسندة</span>
       <div class="count">{{project_kpi.t_external|stringformat:"02d"}}</div>
       <!--  <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i>   منذ اخر اسبوع</span> -->
      </div>

    </div>
    <!-- /top tiles -->
      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <!--   <div class="x_title">
            <h2>{% trans "Home" %}  <small>{% trans "KPI" %}</small></h2> 
          
              <div class="clearfix"></div>
            </div>-->
            <div class="x_content">
           <div class="col-md-12 col-sm-12 col-xs-12" style="overflow: hidden;">

    
                <div class="col-md-4">
                <!-- start of user-activity-graph -->
                <div class="x_panel" >
                <div class="x-title"> <b>{% trans "Tasks by enddate" %}</b></div>
                <div id="graph_bar2" style="width:100%; height:280px;" ></div>
                {#  {{summary_over_time}}       #}   
                <!-- end of user-activity-graph -->
                     </div>
                </div>
                
                 <div class="col-md-4">
                   <div class="x_panel" >
                      <div class="x-title"> <b>{% trans "Tasks by Departement" %}</b></div>
                <!-- start of user-activity-graph -->
                <div id="donutchart_dept" style="width:100%; height:280px;"></div>
                <!-- end of user-activity-graph -->
                     </div>
                     </div>
                     
                     
                      <div class="col-md-4">
                        <div class="x_panel" >
                            <div class="x-title"><b> {% trans "Tasks by Status" %}</b></div>
                <!-- start of user-activity-graph -->
                <div id="piechart_tasks" style="width:100%; height:280px;"></div>
                <!-- end of user-activity-graph -->
                     </div>
                     
         </div>
       
                     
                         
                  <div class="clearfix"></div>
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">{% trans "Tasks work on" %}</a>
                    </li>
                    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">{% trans "Projects Worked on" %}</a>
                    </li>
              
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

					<!-- start user tasks -->
					  {% cache 500 open_tasks open_projects %}   
                      <table class="data table table-striped no-margin" id="open_tasks">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>{% trans "Task" %}</th>
                            <th>{% trans "Project" %}</th>
                            <th>{% trans "Start Date" %}</th>
                            <th>{% trans "End Date" %}</th>
                            <th>{% trans "AssignedTo" %}</th>
                            <th>{% trans "Status" %}</th>
                            <th>{% trans "comittment" %} </th>
                            <th></th>
                            <th>{% trans "Progress" %}</th>
                          
                          </tr>
                        </thead>
                        <tbody>
                         {% for task in open_tasks %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'ns-project:project-task-detail' task.project.id task.id   %}" class="blue" title="{{ task.name }}">  {{ task.name|truncatechars:50 }}</a></td>
                            <td><a href="{% url 'ns-project:project-detail' task.project.id %}" class="blue" title="{{ task.project.name }}" >  {{ task.project.name|truncatechars:50 }}</a></td>
                            <td>{{  task.startdate|date:"Y-m-d" }}</td>
                            <td>{{  task.enddate|date:"Y-m-d" }}</td>
                            <td>

                       {% if task.assignedto.empname%}
                       {{task.assignedto.empname|truncatewords:6}}
                       {% elif task.departement.deptname %}
                       {{task.departement.deptname|truncatewords:6}}
                      {% endif %}

                                </td>
                            <td>{%  trans task.status %}</td>
                            <td> 
                     {% now "Y-m-d" as current_date %}
                     {% if task.enddate|date:"Y-m-d" < current_date and task.status != "Done" %}
					  <div class="commitment-down text-danger">
                    <i class="fa fa-level-down"></i> متأخر
                   </div>
                     {% else %}
                     <div class="commitment-up text-success">
                     <i class="fa fa-level-up"></i> ملتزم
                       </div>
                     {%endif%}
                            </td>
                            
                            <td>  <small class="text-danger left" > {{ task.progress|floatformat:-2}}% مكتمل</small></td>
                            <td class="vertical-align-mid">
                              <div class="progress">
                               
                               {% if task.enddate|date:"Y-m-d" < current_date and task.status != "Done" %}
                               
                                 <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="{{ task.progress|floatformat:-2}}" aria-valuenow="72" style="width: {{ task.progress|floatformat:-2}%;">  </div>
                              {%else %}
                                <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="{{ task.progress|floatformat:-2}}" aria-valuenow="72" style="width: {{ task.progress|floatformat:-2}%;">  </div>
                              
                              {%endif%}
                            </div>
                              
                               
                              
                            </td>
                            <td>  </td>
                          </tr>
                         {% endfor%}
                          </tbody>
                      </table>
                
                      <!-- end user projects -->
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                      <!-- start user projects -->
                      <table class="data table table-striped no-margin" id="open_projects">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>{% trans "Project Name" %}</th>
                            <th>{% trans "Start Date" %}</th>
                            <th>{% trans "End Date" %}</th>
                             <th>{% trans "Status" %}</th>
                            <th>{% trans "Tasks Number" %}</th>
                            <th>{% trans "New" %}</th>
                            <th >{% trans "InProgress" %}</th>
                            <th>{% trans "Done" %}</th>
                            <th>{% trans "Canceled" %}</th>
                            <th>{% trans "Hold" %}   </th>
                            <th>{% trans "Closed" %}</th>
                             <th>{% trans "comittment" %} </th>
                              <th></th>
                            <th>{% trans "Progress" %}</th>
                          </tr>
                        </thead>
                        <tbody>
                         {% for project in open_projects %}
                          <tr>
                            <td>{{ forloop.counter }} </td>
                            <td><a href="{% url 'ns-project:project-detail' project.detail.id %}" class="blue" title="{{ project.detail.name }}" >  {{ project.detail.name|truncatechars:50 }}</a></td>
                             <td>{{project.detail.start}}</td>
                              <td>{{project.detail.end}}</td>
                               <td>{{ project.detail.status.name_ar }}</td>
                             
                            <td>{{project.All}}</td>
                            <td>{{project.New}}</td>
                            <td> {{project.InProgress}}</td> 
                            <td>{{project.Done}}</td>
                           <td>{{project.Cancelled}}</td>
                          <td>{{project.Hold}}</td>
                         <td>{{project.Closed}}</td>
                         
                                      <td> 
                     {% now "Y-m-d" as current_date %}
        
                     {% if project.detail.end|date:"Y-m-d" < current_date and project.status != "Done" %}
					  <div class="commitment-down text-danger">
                    <i class="fa fa-level-down"></i> متأخر
                   </div>
                     {% else %}
                     <div class="commitment-up text-success">
                     <i class="fa fa-level-up"></i> ملتزم
                       </div>
                     {%endif%}
                            </td>
                            
                             <td>  <small class="text-danger left" > {{project.Progress.progress__avg}}% مكتمل</small></td>
                            <td class="vertical-align-mid">
                              <div class="progress">
                               
                              {% now "Y-m-d" as current_date %}
                             {% if project.enddate|date:"Y-m-d" < current_date  and project.status.name != "done" %}
                               
                                 <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="{{project.Progress.progress__avg}}" aria-valuenow="72" style="width: {{ task.progress|floatformat:-2}%;">  </div>
                              {%else %}
                                <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="{{project.Progress.progress__avg}}" aria-valuenow="72" style="width: {{ task.progress|floatformat:-2}%;">  </div>
                              
                              {%endif%}
                            </div>
                              
                               
                              
                            </td>
                          </tr>
                          {% endfor %}
                               </tbody>
                      </table>
                       {% endcache %}
                      <!-- end user projects -->

                    </div>
             
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
{% block javascripts %}
{{ block.super}}


  <!-- morris.js -->
  <script src="/static/vendors/raphael/raphael.min.js"></script>
  <script src="/static/vendors/morris.js/morris.min.js"></script>
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
   <!-- google chart -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 
  
  


  <!-- google chart -->
 <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['{{_("New")}}',     {{ pie_tasks.New}}],
          ['{{_("Hold")}}',      {{ pie_tasks.Hold}}],
          ['{{_("InProgress")}}',     {{ pie_tasks.InProgress}}],
          ['{{_("Done")}}',      {{ pie_tasks.Done}}],
          ['{{_("Canceled")}}',     {{ pie_tasks.Cancelled}}],
          ['{{_("Closed")}}',     {{ pie_tasks.Closed}}],
        ]);

        var options = {
        //  title: '{% trans " Tasks by status"%}',
        	//height:'200',
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_tasks'));

        chart.draw(data, options);
      }

      //flasher
      function blinker() {
    $('.commitment-down').fadeOut(100);
    $('.commitment-down').fadeIn(100);
}
setInterval(blinker, 1000); //Runs every second




</script>

 <script>
// piecharts departments
var js_dict = [["key" ,"value"],

    {% for k, v in task_based_department.items %}
    ["{{ k }}", "{{ v }}"]{% if not forloop.last %},{% endif %}
    {% endfor %}
]

google.charts.load("current", {packages:["corechart"]});
google.charts.setOnLoadCallback(drawChart);
function drawChart() {
  var data = google.visualization.arrayToDataTable([
    ['Task', 'Hours per Day'],
    {% for k, v in task_based_department.items %}
    ["{{ k }}", {{ v }}]{% if not forloop.last %},{% endif %}
  {% endfor %}
  ]);

  var options = {
   // title: '{% trans " Tasks by departement"%}',
    is3D: true,
    fontSize: 12,
    fontName: 'neo',
  };

  var chart = new google.visualization.PieChart(document.getElementById('donutchart_dept'));
  chart.draw(data, options);
}
 </script>
 <script>
 //performance 
google.charts.load('current', {'packages':['gauge']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = google.visualization.arrayToDataTable([
        ['Label', 'Value'],
        ['{{_("performance")}}', {{per_indicator}}],

      ]);

      var options = {
        width: 200, height: 250,
        redFrom: 90, redTo: 100,
        yellowFrom:75, yellowTo: 90,
        minorTicks: 5
      };

      var chart = new google.visualization.Gauge(document.getElementById('chart_per'));
      chart.draw(data, options);
    }

</script>

<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales'],
          {% for s in summary_over_time %}
          ['{{s.period|date:"M Y" }}',  {{s.total}}],
          {%endfor%}
          
        
        ]);

        var options = {
         // title: '{% trans "Tasks" %}',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
      
     
    </script>
   <script type="text/javascript"> 
    $(document).ready(function() {
    $('#open-projects ,#open-tasks').DataTable( {
       "scrollY":        "200px",
        "scrollCollapse": true,
        "paging":         false,
        "searching" :false,
         "bLengthChange": false ,
          "info":     false
    } );
} );
    </script>
   
   
   <!--  BAR --> 
   <script>
  
   <!-- moris -->
   if ($('#graph_bar2').length) {

       Morris.Bar({
           element: 'graph_bar2',
           data: [
        	   {% for s in  summary_over_time %}
        	   
               { device: '{{s.period|date:"M Y"}}', geekbench: {{s.total }} },
{% endfor%}
     
           ],
           
           xkey: 'device',
           ykeys: ['geekbench'],
           labels: ['المهام'],
           barRatio: 0.4,
           barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB', '#3498DB'],
           xLabelAngle: 35,
           hideHover: 'auto',
           resize: true
       });

   }

   </script>
{% endblock javascripts %}
