{% extends "project/base_site.html" %}
{% load i18n %}
{% block title %} {% trans "sheets list" %} {% endblock title %}
{% load widget_tweaks %}
{% block stylesheets %}
{{ block.super }}
<link href="/static/vendors/jquery/dist/jquery-ui.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
<div class="right_col" role="main">
   <div class="row">
      <div class="col-md-12">
         <div class="x_panel">
            <div class="x_title">
               <h2 style="font-size:20px; line-height:1.5em;">{{ _('Employee Details')}} </h2>

               <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
               </ul>
               <div class="clearfix"></div>
            </div>
            <div class="x_content">
               <section class="content invoice">
                  <!-- title row -->
                  <div class="row">
                     <!-- /.col -->
                  </div>
                  <!-- info row -->
                  <div class="row invoice-info">
                     <div class="col-sm-4 invoice-col">

                        <address style="font-size: 17px;">
                           <br>
                           <b>{{ _('Name')}}:</b> {{ EmpData.empname}}
                           <br>
                           <br>
                           <b>{{ _('Department')}}:</b> {{ EmpData.deptname}}
                           <br>
                           <br>
                           <b>{{ _('Job title')}}:</b> {{ EmpData.jobtitle}}
                        </address>
                     </div>
                     <div class="col-sm-4 invoice-col"style="font-size: 17px;">
                        <br>
                        <b>{{ _('Mobile')}}:</b> {{ EmpData.mobile}}
                        <br>
                        <br>
                        <b>{{ _('Ext')}}:</b> {{ EmpData.ext}}
                        <br>
                        <br>
                        <b>{{ _('Email')}}:</b> {{ EmpData.email}}
                     </div>

                     <!-- /.col -->
                  </div>
               </section>
            </div>
         </div>
      </div>
   </div>
   {% for message in messages %}
     <div style="font-size: 16px;" class="alert {{ message.tags }} alert-dismissible" role="alert">
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
       {{ message }}
     </div>
   {% endfor %}
   <div class="">
      <!--  <div class="page-title">
         <div class="title_left">
         <h3>{% trans "submitted tasks" %} </h3>
         </div>
         </div>-->
      <div class="clearfix"></div>
      <form method="get">
         <ul></ul>
         <div class="row">
            <div class="col-md-12">
               <div class="x_panel">
                  <div class="x_content" style="margin-bottom: 30px;">
      <form class="form-inline" id="search" method="GET" action="">

      <legend>{{_('Search area')}}</legend>

      <div class="col-md-2">
        <label>{{_('Task type')}}</label>
      {% render_field filter.form.tasktype class="form-control custom" %}
      </div>
      <div class="col-md-2">
        <label>{{_('Sbmitted status')}}</label>
      {% render_field filter.form.ifsubmitted class="form-control custom" %}
      </div>
      <div class="col-md-2">
  <label>{{_('Status filter')}}</label>
      {% render_field filter.form.status class="form-control custom" %}
      </div>
      <div class="col-md-2">
  <label>{{_('satrt date')}}</label>
      <div class="input-group date" data-provide="datepicker">

      <input class="datepicker form-control" name="q_start" type="text" value='{{ request.GET.q_start}}' placeholder="{{_('form')}}">
      <div class="input-group-addon">
      <span class="glyphicon glyphicon-th"></span>
      </div>
      </div>
      </div>
      <div class="col-md-2">
  <label>{{_('end date')}}</label>
      <div class="input-group date" data-provide="datepicker">

      <input class="datepicker form-control" name="q_end" type="text" value='{{ request.GET.q_end}}'placeholder="{{_('to')}}">
      <div class="input-group-addon">
      <span class="glyphicon glyphicon-th"></span>
      </div>
      </div>

      </div>
        <label style="color:#fff;">{{_('search')}}</label>
      <span class="input-group-btn">
      <button id="submit" class="btn btn-primary " type="submit">{% trans "Go"  %}!</button>
      </span>

<!--  <input type="text" name="q" class="form-control" style="width:auto;" value="{{ request.GET.q}}" placeholder="{{_('Emp Or dept')}}...">-->

      </form>

    </div>

    <!-- end search area-->
      <table class="table table-striped projects">

      <thead>
      <tr>
      <th style="width: 1%">#</th>
      <th style="width: 30%">{% trans "Task Descreption" %}</th>
      <th>{% trans "Task type" %}</th>
      <th>{% trans "Duration by days" %}</th>
      <th>{% trans "Task Deadline" %}</th>
      <th>{% trans "Status submitted" %}</th>
      <th>{% trans "Status task" %}</th>
      {%if his_manager or have_permission%}
      <th>{% trans "Operations" %}</th>
      {%endif%}
      </tr>
      </thead>
      <tbody>
      {% for data in filter.qs %}
      <tr>
      <td>#</td>
      <td>
      {{ data.taskdesc }}
      </td>
      <td>
      {% if data.tasktype == 'm' %}
      {{ ' رئيسية' }}
      {% else %}
      {{ ' مساندة' }}
      {% endif %}
      </td>
      <td class="project_progress">
      {{ data.duration }}
      </td>
      <td>
      {{ data.taskdate }}
      </td>
      <td>
      {% if data.ifsubmitted == '0' %}
      <button type="button" class="btn btn-info btn-xs">{% trans "New" %}</button>
      {% endif %}
      {% if data.ifsubmitted == '1' %}
      <button type="button" class="btn btn-success btn-xs">{% trans "submitted" %}</button>
      {% endif %}
      {% if data.ifsubmitted == '2' %}
      <button type="button" class="btn btn-danger btn-xs">{% trans "not submitted" %}</button>
      {% endif %}
      </td>
      <td>
      {% if data.status == '0' %}
      <button type="button" class="btn btn-info btn-xs">{% trans "New" %}</button>
      {% endif %}
      {% if data.status == '1' %}
      <button type="button" class="btn btn-warning btn-xs">{% trans "in progres" %}</button>
      {% endif %}
      {% if data.status == '2' %}
      <button type="button" class="btn btn-success btn-xs">{% trans "Done" %}</button>
      {% endif %}
      {% if data.status == '3' %}
      <button type="button" class="btn btn-danger btn-xs">{% trans "Ignore" %}</button>
       {{ data.get_reason_display }}
      {% endif %}
      </td>
        {%if his_manager or have_permission%}
      <td>
        {%if data.ifsubmitted != '0' %}
        <a href="#" class="btn btn-primary btn-xs disabled">{% trans "Change status submit" %}</a>
        {%else%}
          <a href="/sheet/{{data.id}}/submit" class="btn btn-primary btn-xs">{% trans "Change status submit" %}</a>
        {% endif %}
      </td>
      {% endif %}
      </tr>
      {% endfor %}
      </tbody>
      </table>
      <!-- end project list -->
      </div>
      </div>
      </div>
      </div>
   </div>
</div>
{% endblock content %}

{% block javascripts %}

{{ block.super }}
{% endblock javascripts %}
