{% extends "project/base_site.html" %}
{% load i18n %}
{% block title %} {% trans "Projects" %} {% endblock title %}
{% block stylesheets %}
{{ block.super }}
<style>
.nav-pills> li a:active{
  background: #000;
}
</style>
{% endblock stylesheets %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<div class="right_col" role="main">
   <div class="">
      <div class="page-title">
         <div class="title_left">
        
          
              <h2> {% trans "Projects List" %} <small> 
 {%if project_status == "all" %}
 {% trans "All"    %}
  {%elif project_status == "new" %}
 {% trans "New"    %}
    {%elif project_status == "inprogress" %}
 {% trans "Inprogress"    %}
   {%elif project_status == "done" %}
 {% trans "Done"    %}
   {%elif project_status == "hold" %}
 {% trans "Hold"    %}
  {%elif project_status == "department" %}
 {% trans "Project From another department"    %}
   {%elif project_status == "delegations" %}
 {% trans "Delegations"    %}
 {%endif%}
</small></h2>
         
              <div class="clearfix"></div>
            
           
         </div>

              {% load user_group %}
                 {% if request.user|has_group:"ismanager"  or request.user|has_group:"projectmanager" %}
                   <ul class="nav nav-pills navbar-left custom-nav" role="tablist">
                  <a href="{% url 'ns-project:add-project' %}" style="float:left" >  <button type="button" class="btn btn-default  btn-md"> <i class="fa fa-plus"></i>  {% trans "Ad Project" %}</button></a>
                    <a href="{% url 'ns-project:project-report' %}" style="float:left" >  <button type="button" class="btn btn-default btn-md" style="color:#2e6da4;"> <i class="fa fa-bar-chart"></i>  {% trans "Reports" %}</button></a>
                </ul>
                  {% endif %}


      </div>
      <div class="clearfix"></div>
      <div class="row">
         <div class="col-md-12">
            <div class="x_panel">
         

        


               <nav   role="tablist"  style="background-color:#F5F7FA;padding: 0px 5px 0px;">
                     <div class="container-fluid">
                        <ul class="nav nav-pills navbar-right custom-nav" role="tablist">
                           <li role="presentation"  class="{% if project_status == 'all' %}  {{'active'}} {% else  %} {{'inactive' }} {% endif  %}"><a href="{% url 'ns-project:project-list' 'all' %}">{{ _('All')}} </a></li>
                           <li role="presentation"  class="{% if project_status == 'new' %}  {{'active'}} {% else  %} {{'inactive' }} {% endif  %}"><a href="{% url 'ns-project:project-list' 'new' %}" >{{ _('New')}} </a></li>
                           <li role="presentation"  class="{% if project_status == 'inprogress' %}  {{'active'}} {% else  %} {{'inactive' }} {% endif  %}"><a href="{% url 'ns-project:project-list' 'inprogress' %}">{{ _('Inprogress')}} </a></li>
                           <li role="presentation"  class="{% if project_status == 'done' %}  {{'active'}} {% else  %} {{'inactive' }} {% endif  %}"><a href="{% url 'ns-project:project-list' 'done' %}">{{ _('Done')}} </a></li>
                           <li role="presentation"  class="{% if project_status == 'hold' %}  {{'active'}} {% else  %} {{'inactive' }} {% endif  %}"><a href="{% url 'ns-project:project-list' 'hold' %}">{{ _('Hold')}} </a></li>
                           <li role="presentation"  class="{% if project_status == 'department' %}  {{'active'}} {% else  %} {{'inactive' }} {% endif  %}"><a href="{% url 'ns-project:project-list' 'department' %}">{{ _('Project From another department')}} </a></li>
                           <li role="presentation"  class="{% if project_status == 'delegations' %}  {{'active'}} {% else  %} {{'inactive' }} {% endif  %}"><a href="{% url 'ns-project:project-list' 'delegations' %}">{{ _('Delegations')}} </a></li>
                     
                        </ul>

           
                 <!--  <a href="{% url 'ns-project:project-list' %}" style="float:left" > <button type="button" class="btn btn-primary btn-md">  <i class="fa fa-th-list"></i>  {% trans "Projects List" %} </button></a> -->
                 
                  <div class="clearfix"></div>
                     </div>
                  </nav>



             
               <div class="x_content">
                  {% if messages %}
                  <ul class="messages">
                     {% for message in messages %}
                     <li{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>
                     {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                     {{ message }}
                     </li>
                     {% endfor %}
                  </ul>
                  {% endif %}

                  <!-- start project list -->
                  <table class="table table-striped table   projects">
                     <thead>
                        <tr>
                           <th style="width: 1%">#</th>
                           <th style="width: 20%"><a href="{% url 'ns-project:project-list' %} ">{% trans "Project Name" %}</a></th>
                           <!-- <th>{% trans "Team Members" %}</th> -->
                           <th>{% trans "Start" %}</th>
                           <th>{% trans "End" %}</th>
                           <th>{% trans "Project Progress" %}</th>
                           <th>{% trans "Status" %}</th>
                           <th style="width: 20%">{% trans "Actions" %}</th>
                        </tr>
                     </thead>
                     <tbody>
                    
             
                        {% for project in project_list %}

                        <tr>
                           <td>{{project.id}}</td>
                           <td>
                              <a href="{% url 'ns-project:project-detail' project.id %}">{{ project.name}}</a>
                              <br />
                              <small>{{_('Created Date')}} {{project.createddate}}</small>
                           </td>
                         <!--   <td>
                               <ul class="list-inline">
                                 <li>
                                    <img src="/static/images/user.png" class="avatar" alt="Avatar">
                                 </li>
                                 <li>
                                    <img src="/static/images/user.png" class="avatar" alt="Avatar">
                                 </li>
                                 <li>
                                    <img src="/static/images/user.png" class="avatar" alt="Avatar">
                                 </li>
                                 <li>
                                    <img src="/static/images/user.png" class="avatar" alt="Avatar">
                                 </li>
                              </ul>
                           </td>-->
                           <td>
                              {{project.start}}
                           </td>
                           <td>
                              {{project.end}}
                           </td>
                           <td class="project_progress">
                             {% for key, value in aDict.items %}
                               {% if project.id == key %}
                              <div class="progress progress_sm">
                                 <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{value}}"></div>
                              </div>
                              <small>{{value}}% {% trans "Complete" %}</small>
                              {%endif%}
                               {% endfor %}

                           <!-- <td class="project_progress">
                              <div class="progress progress_sm">
                                 <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="0"></div>

                              </div>
                              <small>0% {% trans "Complete" %}</small> -->
                           </td>
                           <td>

                              <button type="button" class="btn btn-{{ project.status.color }} btn-xs">
                              {% if LANGUAGE_CODE == 'ar' %}
                              {{ project.status.name_ar  }}
                              {% else %}
                              {{ project.status.name  }}
                              {% endif %}
                              </button>
                           </td>
                           <td>
                              <a href="{% url 'ns-project:project-detail' project.id %}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> {% trans "View" %} </a>
                              {% if project.createdby.empid == request.session.EmpID or project.delegationto.empid == request.session.EmpID %}
                              <a href="{% url 'ns-project:project-edit' project.id %}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> {% trans "Edit" %} </a>
	                               {% if project.createdby.empid == request.session.EmpID %}
                                  <a href="{% url 'ns-project:project-delete' project.id %}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> {% trans "Delete" %} </a>
                            	  {%else %} 
                              <a href="#" class="btn btn-danger btn-xs disabled"><i class="fa fa-trash-o"></i> {% trans "Delete" %} </a>
                            	  {% endif %}                     
                              {% elif   project.createdby.empid != request.session.EmpID%}
                              <a href="#" class="btn btn-info btn-xs disabled"><i class="fa fa-pencil"></i> {% trans "Edit" %} </a>
                              <a href="#" class="btn btn-danger btn-xs disabled"><i class="fa fa-trash-o"></i> {% trans "Delete" %} </a>
                              {% endif %}


                           </td>

                        </tr>

                        {% endfor %}
                     </tbody>
                  </table>
                  <!-- end project list -->
                  <!--  pager -->
                  <div>
                     {% if project_list.has_other_pages %}
                     <ul class="pagination">
                        {% if project_list.has_previous %}
                        <li><a href="?page={{ project_list.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in project_list.paginator.page_range %}
                        {% if project_list.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if project_list.has_next %}
                        <li><a href="?page={{ project_list.next_page_number }}">&raquo;</a></li>
                        {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                     </ul>
                     {% endif %}
                     <ul class="pagination" >
                        <li>
                           <span class="current">
                           {{ _('Page') }} {{ project_list.number }} of {{ project_list.paginator.num_pages }}
                           </span>
                        </li>
                     </ul>
                  </div>
                  <!-- end pager -->
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}
{% block javascripts %}

{{ block.super }}
<script>
$(document).ready(function(){
// $(".navbar-right li a").click(function() {
//   console.log("good ")
//   $(this).parent().addClass('active').siblings().removeClass('active');
//
//   });
});
  </script>
{% endblock javascripts %}
