{% load i18n %}
{% load user_group %}
<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">


    <a href="{% url 'ns-project:dashboard-manager' %}" class="site_title"> <img src="/static/images/stats_logo.png" alt="..." class="img-rounded  profile_img" style="width:50px;">  <span>{{ _("Project Management") }} </span></a>
  </div>
  <div class="clearfix"></div>

  <!-- menu profile quick info -->
 <!-- <div class="profile clearfix">
     <!--<div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
    </div> 
    <div class="profile_info">
  {% if user.is_authenticated %}
      {% if 'EmpName' in request.session %}
      <h2>  {{ request.session.EmpName }}</h2>
      <span>  {{ request.session.JobTitle }}</span>
      <br>
      <span>  {{ request.session.DeptName }}</span>
      <br>
         <!-- <span>  {{ request.session.EmpID }}</span> 
        {# {{ mail }}#}
        {% endif %}
        {% endif %}
    </div>
  </div> --> 
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <!-- <h3>{%  trans "General" %}</h3> -->
      <ul class="nav side-menu">
        {% if request.user|has_group:"ismanager"  %}
           <li><a href="{% url 'ns-project:dashboard-manager'  %}"><i class="fa fa-home"></i> {% trans "Home" %} <span class="fa"></span></a>  </li>
        {%elif  request.user|has_group:"projectmanager" %}
           <li><a href="{% url 'ns-project:dashboard-pm'  %}"><i class="fa fa-home"></i> {% trans "Home" %} <span class="fa"></span></a>  </li>

        {% else %}
        <li><a href="{% url 'ns-project:dashboard-employee'  %}"><i class="fa fa-home"></i> {% trans "Home" %} <span class="fa"></span></a>  </li>
        {% endif %}
           <li><a href="{% url 'ns-project:project-list' %}"><i class="fa fa-briefcase"></i> {% trans "Projects" %} <span class="fa"></span></a>  </li>
          <!--   <li><a href="plain_page.html"><i class="fa fa-home"></i> {% trans "Tasks" %} <span class="fa"></span></a>  </li>  -->
          <!--   <li><a href="{% url 'ns-project:my-sheet' %}"><i class="fa fa-list"></i> {% trans "My To Do List" %} <span class="fa"></span></a>  </li>-->
           {% if request.user|has_group:"ismanager" or request.user|has_group:"projectmanager" %}
           <li><a href="{% url 'ns-project:project-follow-up' %}"><i class="fa fa-binoculars" aria-hidden="true"></i> {% trans "Follow-up Reports" %} <span class="fa"></span></a>  </li>
           {% endif %}
           {% load user_group %}
      <!--        {% if request.user|has_group:"ismanager" or request.session.have_auth %}
           <li><a><i class="fa fa-hand-o-left"></i> {% trans "Delegations" %} <span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           {% if request.user|has_group:"ismanager" %}
           <li><a href="{% url 'ns-project:delegation'%}">{{_('Manage Delegation')}}</a></li>
           {%endif%}
           <li><a href="{% url 'ns-project:my-delegation'%}">{{_('Department Delegation')}}</a></li>
         </ul>
-->
       </li>
       {%endif%}
           {% if request.user|has_group:"ismanager"  %}
           <li><a href="{% url 'ns-project:task-list-external' 'all' %}"><i class="fa fa-code-fork" aria-hidden="true"></i> 
           {% trans "Tasks assigned to departement" %}
         <!-- <span class="badge badge-success" style="position:relative;right:5px;">{{new_tasks_count}}</span><span class="fa"></span></a> -->
           </li>
<!-- 
         <li><a href=" /sheet/{{request.session.DeptCode}}/dept "><i class="fa fa-pencil-square-o"></i> {% trans "manage all sheets" %} <span class="fa"></span></a>  </li>

       <li><a><i class="fa fa-file-text-o"></i> {% trans "Reports" %} <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'ns-project:dept-sheets'%}">{{_('All Department')}}</a></li>
          </ul>
        </li>
           {% endif %}
 -->
      </ul>


    </div></div>
  <!-- /sidebar menu -->


</div>
