{% extends "project/base_site.html" %}
{% load i18n %}
{% load user_group %}
{% block title %} {% trans "Projects" %} {% endblock title %}
{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<div class="right_col" role="main">
   <div class="">
      <!-- top menu bar -->
{% include "project/project_nave.html" %}

      <div class="clearfix"></div>
      <div class="row">
         <div class="col-md-12">
            <div class="x_panel">
             
                                <nav   role="tablist"  style="background-color:#F5F7FA;padding: 0px 5px 0px;">

                     <div class="container-fluid">
                        <ul class="nav nav-pills navbar-right custom-nav" role="tablist">
                           <li role="presentation" class={% if request.resolver_match.kwargs.task_status == 'all' or  request.resolver_match.kwargs.task_status == None %}  {{'active'}} {% else  %} {{'inactive' }} {% endif  %}><a href="{% url 'ns-project:project-task' project_detail.id 'all' %}">{{ _('All Project Tasks')}} </a></li>
<li role="presentation"   class={% if request.resolver_match.kwargs.task_status == 'unclosed' %}  {{'active'}} {% else  %} {{'inactive' }} {% endif  %} >
 <a href="{% url 'ns-project:project-task' project_detail.id 'unclosed' %}" >{{ _('Open Tasks')}} </a></li>
                           {% if request.user|has_group:"ismanager" %}
                           <li role="presentation"  class={% if request.resolver_match.kwargs.task_status == 'assignedtome' %}  {{'active'}} {% else  %} {{'inactive' }} {% endif  %}><a href="{% url 'ns-project:project-task' project_detail.id 'assignedtome' %}">{{ _('Assigned to Me')}} </a></li>

                            <!-- <li role="presentation"  class={% if request.resolver_match.kwargs.task_status == 'assignedtodept' %}  {{'active'}} {% else  %} {{'inactive' }} {% endif  %}><a href="{% url 'ns-project:project-task' project_detail.id 'assignedtodept' %}" >{{ _('Assigned to Departement')}} </a></li> -->
                           {% endif %}
                           <li role="presentation"  class={% if request.resolver_match.kwargs.task_status == 'delayed' %}  {{'active'}} {% else  %} {{'inactive' }} {% endif  %}><a href="{% url 'ns-project:project-task' project_detail.id 'delayed' %}">{{ _('Delayed')}} </a></li>
                           <li role="presentation"
                           class="dropdown extra_menue class=
                           {% if request.resolver_match.kwargs.task_status == 'finishedbyme'  or  request.resolver_match.kwargs.task_status == 'inprogress' or request.resolver_match.kwargs.task_status == 'done'  or request.resolver_match.kwargs.task_status == 'closed' or request.resolver_match.kwargs.task_status == 'cancelled'  or request.resolver_match.kwargs.task_status == 'hold'  or request.resolver_match.kwargs.task_status == 'new'  or request.resolver_match.kwargs.task_status == 'inprogress' %}
                               {{'active'}}
                                {% else  %}
                                 {{'inactive' }}
                                {% endif  %}">

                              <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                              {{_('More')}}
                              <span class="caret"></span>
                              </a>
                              <ul id="menu6" class="dropdown-menu animated fadeInDown" role="menu">
                                 <li role="presentation"  class={% if request.resolver_match.kwargs.task_status == 'new' %}  {{'active'}} {% else  %} {{'inactive' }} {% endif  %}><a role="menuitem" tabindex="-1" href="{% url 'ns-project:project-task' project_detail.id 'new' %}">{{_('New')}}</a></li>
                                 <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'ns-project:project-task' project_detail.id 'inprogress' %}">{{_('Inprogress')}}</a></li>
                                 {% if request.user|has_group:"ismanager" %}
                                 <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'ns-project:project-task' project_detail.id 'finishedbyme' %}">{{_('Finished By Me') }} </a></li>
                                 {% endif %}
                                 <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'ns-project:project-task' project_detail.id 'done' %}">{{_('Done')}} </a></li>
                                 <li role="presentation"><a role="menuitem"  tabindex="-1" href="{% url 'ns-project:project-task' project_detail.id 'closed' %}">{{ _('Closed')}} </a></li>
                                 <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'ns-project:project-task' project_detail.id 'cancelled' %}">{{ _('Cancelled')}} </a></li>
                                 <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'ns-project:project-task' project_detail.id 'hold' %}">{{ _('Hold')}} </a></li>
                              </ul>
                           </li>
                        </ul>
                        {#  request.user|has_group:"ismanager" or  request.user|has_group:"projectmanager" #}
                      
                        <ul class="nav nav-pills navbar-left" role="tablist" style="margin-top:5px;">
                     
                        {% if  request.session.EmpID == project_detail.delegationto.empid  or  request.session.EmpID == project_detail.createdby.empid%}
                        <a href="{% url 'ns-project:add-task' project_detail.id  %}" class="float-left" style="float:left"> <button type="button" class="btn btn-default btn-md">  <i class="fa fa-plus"></i>  {{ _('Ad Task') }} </button></a>
                        {% endif %}
                         <a href="{% url 'ns-project:kanban' project_detail.id  %}" class="float-left" style="float:left"> <button type="button" class="btn btn-default btn-md" style="color:#2e6da4;">  <i class="fa fa-th"></i>  {{ _('Kanban') }} </button></a>
                        <a href="{% url 'ns-project:project-gantt' project_detail.id  %}" class="float-left" style="float:left"> <button type="button" class="btn btn-default btn-md" style="color:#2e6da4;">  <i class="fa fa-calendar"></i>  {{ _('Gantt Chart') }} </button></a>
                    
                      
                        </ul>
                     </div>


                  </nav>

                  <div class="clearfix"></div>
             
               <div class="x_content">


                  <ul class="messages">
                     {% if messages %}
                     {% for message in messages %}
                     <li{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>
                     {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                     {{ message|safe }}
                     </li>
                     {% endfor %}
                     {% endif %}
                  </ul>
                  <!-- start tasks list -->
                  <table class="table table-striped projects" id="task-table">
                     <thead>
                        <tr>
                           <th style="width: 1%">ID</th>
                           <th>{% trans "Task Name" %}</th>
                           <th>{% trans "Start Date" %}</th>
                           <th>{% trans "End Date" %}</th>
                           <th>{% trans "Status" %}</th>
                           {% if request.user|has_group:"ismanager" %}

                           {% endif %}
                           <th>{% trans "AssignedTo" %}</th>

                           <th>{% trans "Progress" %}
                         <!--   <th>{% trans "Finshed By" %}</th> -->
                           <th>{% trans "Finshed Date" %}</th>
                           <th style="width: 20%">{% trans "Actions" %}</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for task in tasks %}
                        <tr>
                           <td><a href="{% url 'ns-project:project-task-detail' project_detail.id task.id   %}" class=" btn-link">{{task.id }}</a> </td>
                           <td><a href="{% url 'ns-project:project-task-detail' project_detail.id task.id   %}" class=" btn-link" title="{{task.name}}">{{ task.name|truncatechars:60 }}</a></td>
                           <td>{{  task.startdate|date:"Y-m-d" }} </td>
                           <td>{{  task.enddate|date:"Y-m-d" }}{{date}} </td>
                           <td id="status_{{task.id}}">
                              {% if task.status == 'Closed' %}
                              <span class="btn btn-dark btn-xs"> {{task.get_status_display }}</span>
                              {% endif %}
                              {% if task.status == 'Cancelled' %}
                              <span  class="btn btn-danger btn-xs"> {{task.get_status_display }}</span>
                              {% endif %}
                              {% if task.status == 'Hold' %}
                              <button type="button" class="btn btn-danger btn-xs"> {{task.get_status_display }}</button>
                              {% endif %}
                              {% if task.status == 'Done' %}
                              <button type="button" class="btn btn-success btn-xs"> {{task.get_status_display }}</button>
                              {% endif %}
                              {% if task.status == 'InProgress' %}
                              <span class="btn btn-warning btn-xs"> {{task.get_status_display }}</span>
                              {% endif %}
                              {% if task.status == 'New' %}
                              <span class="btn btn-info btn-xs"> {{task.get_status_display }}</span>
                              {% endif %}
                           </td>
                           {% if request.user|has_group:"ismanager" %}
                           {% endif %}
                           <td>

                       {% if task.assignedto.empname%}
                       {{task.assignedto.empname|truncatewords:6}}
                       {% elif task.departement.deptname %}
                       {{task.departement.deptname|truncatewords:6}}
                      {% endif %}

                                </td>
                           <td>   <span>  % {{task.progress }}</span>
                          <!--  {{ task.startdate|timesince:task.enddate }} -->
                           <!-- {{ task.enddate|timeuntil }} -->


                           <!-- delyaed -->
                           {% if task.finisheddate %}
                                {% if  task.finisheddate|date:"Ymd"  >  task.enddate|date:"Ymd" %}
                                  <small class="text-danger"> ( {{ _('Delayed')}} )</small>
                                {% endif%}
                          {%else %}
                            {% now "Ymd" as current_date  %}
                                  {% if  current_date > task.enddate|date:"Ymd"%}
                                 <small class="text-danger"> ( {{ _('Delayed')}} )</small>
                                   {% endif %}
                         {% endif %}

                           </td>
                         <!--  <td>{{task.finishedby }}</td> -->
                           <td>{{  task.finisheddate|date:"d-m-Y" }} </td>
                           <td>
                              <!-- user start task  -->
                             {% if  task.status == "Cancelled" or task.status == "Done" or task.status == "Closed" %}
                              <i class="fa fa-play fa-2x paction  paction_disable" title="{% trans 'Play' %}" id="p_{{task.id}}" ></i>
                              {% else %}
                                 {% if  task.status == "InProgress"    %}
                                 <a href="#" data-url="{% url 'ns-project:update-pause-task' task.id %}" class="update-task-pause" ><i class="fa fa-pause fa-2x paction  text-primary" title="{% trans "pause" %}" id="p_{{task.id}}" ></i> </a>
                                 {% elif   task.status == "New" or   task.status == "Hold"  %}
                                 <a href="#" data-url="{% url 'ns-project:task-update-start' task.id %}" class="update-task-start" ><i class="fa fa-play fa-2x paction  text-primary" title="{% trans "Play" %}" id="p_{{task.id}}" ></i> </a>
                                 {% endif %}
                              {% endif %}
                              <!-- user finish task -->
                              {% if task.status == "Done"  or task.status == "Cancelled" or   task.status == "New" or task.status == "Closed" %}
                             <i class="fa fa-clock-o fa-2x paction  paction_disable" title="{% trans "Progress" %}"></i>
                              <i class="fa fa-check-square-o fa-2x paction  paction_disable" title="{% trans "Finish" %}"></i>
                               <i class="fa fa-ban fa-2x paction  paction_disable" title="{% trans "Cancel" %}"></i>
                              {% else %}
                             <a href="#" data-url="{% url 'ns-project:update-progress-task' task.id %}" class="update-progress-task" ><i class="fa fa-clock-o fa-2x paction  text-primary" title="{% trans "Progress" %}" id="f_{{task.id}}"></i> </a>
                              <a href="#" data-url="{% url 'ns-project:update-finish-task' task.id %}" class="update-finish-task" ><i class="fa fa-check-square-o fa-2x paction  text-primary" title="{% trans "Finish" %}" id="f_{{task.id}}"></i> </a>
                              <a href="#" data-url="{% url 'ns-project:update-cancel-task' task.id %}" class="update-cancel-task" ><i class="fa fa-ban fa-2x paction  text-primary" title="{% trans "Finish" %}" id="f_{{task.id}}"></i> </a>
                            
                              {% endif %}
                              {% if task.project.createdby.empid == request.session.EmpID  or task.project.delegationto.empid == request.session.EmpID %}
                              <!-- manager close task -->
                              <a href="#" data-url="{% url 'ns-project:update-assignto-task' task.id %}" class="update-assignto-task" ><i class="fa fa-hand-o-right fa-2x paction text-primary" title="{% trans "Assign" %} "></i></a>
                              {% if task.closeddate %}
                              <i class="fa fa-power-off  fa-2x paction  paction_disable" title="{% trans "Close" %}" id="c_{{task.id}}"></i>
                              {% else %}
                              <a href="#" data-url="{% url 'ns-project:update-close-task' task.id %}" class="update-close-task" ><i class="fa fa-power-off  fa-2x paction  text-primary" title="{% trans "Close" %}" id="c_{{task.id}}"></i> </a>
                              {% endif %}
                              <!-- manager edit task -->
                              <a href="{% url 'ns-project:project-task-edit' project_detail.id task.id %}" ><i class="fa fa-edit fa-2x paction  text-primary" title="{% trans "Edit" %}"></i>  </a>
                              <a href="{% url 'ns-project:project-task-delete' project_detail.id task.id %}" ><i class="fa fa-trash fa-2x paction  text-primary" title="{% trans "Delete" %}"></i>  </a>
                                                      
                              {% endif %}
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
                  <!-- end project list -->
                  <!--  pager -->
                  <div>
                     {% if tasks.has_other_pages %}
                     <ul class="pagination">
                        {% if tasks.has_previous %}
                        <li><a href="?page={{ tasks.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in tasks.paginator.page_range %}
                        {% if tasks.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if tasks.has_next %}
                        <li><a href="?page={{ tasks.next_page_number }}">&raquo;</a></li>
                        {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                     </ul>
                     {% endif %}
                     <ul class="pagination" >
                        <li>
                           <span class="current">
                           {{ _('Page') }} {{ tasks.number }} of {{ tasks.paginator.num_pages }}
                           </span>
                        </li>
                     </ul>
                  </div>
                  <!-- end pager -->
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- THE MODAL WE WILL BE USING -->
<div class="modal fade" id="modal-task">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
      </div>
   </div>
</div>
{% endblock content %}
{% block javascripts %}
{{ block.super }}
<script>
   var loadForm = function () {
   btn = $(this);
   $.ajax({
     url: $(this).attr("data-url"),
     type: 'get',
     dataType: 'json',
     beforeSend: function () {
       $("#modal-task").modal("show");
     },
     success: function (data) {
       $("#modal-task .modal-content").html(data.html_form);
     }
   });

   }; //end load form


   var saveForm = function () {
   var form = $(this);
   $.ajax({
     url: form.attr("action"),
     data: form.serialize(),
     type: form.attr("method"),
     dataType: 'json',
     success: function (data) {
       if (data.form_is_valid) {
        // $(".messages").html('<li class="alert alert-success">'+data.message+"</li>");
        // $("#status_"+data.id).html('<span class=" btn btn-warning  task-'+data.status+'" >'+data.status+'</span>');

       // $("#"+data.icon).addClass('paction_disable').closest('a').removeAttr("href").removeAttr("data-url").removeAttr("class");
         $("#modal-task").modal("hide");
          location.reload();
       }
       else {
         $("#modal-task .modal-content").html(data.html_form);
       }
     }
   });
   return false;
   }; //end save form


   // Update task start date and status
   $("#task-table").on("click", ".update-task-start", loadForm);
   $("#modal-task").on("submit", ".task-update-start-form", saveForm);

   //pause task
   $("#task-table").on("click", ".update-task-pause", loadForm);
   $("#modal-task").on("submit", ".update-pause-task-form", saveForm);

   //update task finish date and staus
   $("#task-table").on("click", ".update-finish-task", loadForm);
   $("#modal-task").on("submit", ".update-finish-task-form", saveForm);

   //update cancel task
   $("#task-table").on("click", ".update-cancel-task", loadForm);
   $("#modal-task").on("submit", ".update-cancel-task-form", saveForm);

   
   //progress task
   $("#task-table").on("click", ".update-progress-task", loadForm);
   $("#modal-task").on("submit", ".update-progress-task-form", saveForm);

   //update task close date and staus
   $("#task-table").on("click", ".update-close-task", loadForm);
   $("#modal-task").on("submit", ".update-close-task-form", saveForm);

   //update assign to task
   $("#task-table").on("click", ".update-assignto-task", loadForm);
   $("#modal-task").on("submit", ".update-assignto-task-form", saveForm);

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.jquery.js"></script>
  <script>
     $(".chosen").data("placeholder","Select Frameworks...").chosen();
     $(".chosen").chosen({no_results_text: "Oops, nothing found!"});
     $('.chosen').chosen({allow_single_deselect: true,no_results_text: "لا يوجد نتائج!"});

     /*change selected label in more btn filter*/
     $(function(){
    $(".extra_menue ul li a").click(function(){
    //alert($(this).text())
     sessionStorage.setItem("extra_filter", $(this).text());
   });
});

if (sessionStorage.extra_filter){
      $("#drop4").html(sessionStorage.extra_filter +' <span class="caret"></span>');
    }

</script>

{% endblock javascripts %}
