Django==2.0.4
django-auth-ldap==1.2.8
django-auth-ldap3==0.9.6
django-filter==1.1.0
django-filters==0.2.1
django-mathfilters==0.4.0
django-python3-ldap==0.11.1
django-simple-history==2.0
django-su==0.5.2
django-widget-tweaks==1.4.2
djangorestframework==3.8.2
djangorestframework-filters==0.10.2
ldap==1.0.2
ldap3==2.3
mysqlclient==1.3.12
pyasn1==0.3.2
pyasn1-modules==0.2.1
pyldap==2.4.45
python-dateutil==2.6.1
pytz==2018.4
six==1.11.0
virtualenv==15.1.0
virtualenvwrapper-win==1.2.2
